* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: rgb(3, 0, 31);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    display: flex; /* for horizontal layering of side bar and main field*/
}

.sideBar {
    flex: 3;
    border-right: 1px solid rgb(100, 100, 100);
}

.main {
    flex: 9; /* 3 parts side bar and 9 parts main*/
}

.logo {
    margin-right: 1rem /* this is like 10 pixels */
}

.brand {
    font-size: 2rem;
}

.upperSide {
    padding: 2.5rem;
    border-bottom: 1px solid rgb(100, 100, 100);
    height: 70%; /* 70% of sideBar*/
}

.upperSideTop{
    display: flex;
    align-items: center; /* lets logo and chatgpt float next to each other with brand centralized on height*/
    margin-bottom: 2.5rem;
}

.addBtn {
    height: 2rem;
    padding-right: 1rem;
}

.midBtn {
    background: #5A4BFF;
    border: none;
    color: white; /* text color */
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center; /* why justify center is needed here and align items is not enough itself? */
    margin: 0 auto; /* zero to top and auto to rest */
    margin-bottom: 3rem;
    border-radius: 0.7rem;
}

.query {
    display: flex;
    align-items: center;
    background: transparent;
    color: rgba(222, 222, 222, 1);
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    border-radius: 0.7rem;
    border: 1px solid rgba(98, 98, 98, 1);
}

.query>img {
    margin-right: 1rem;
    object-fit: cover;
    height: 1.75rem;
}

.lowerSide {
    padding: 2rem;
}

.listItems {
    margin: 0.75rem;
    display: flex;
    align-items: center; /* maybe only y axis and justify center is x axis  ? probably*/
    font-size: 1.3rem;
}

.listitemsImgs {
    margin: 1rem;
    padding-right: 1rem;
}

.listItems:nth-child(1)>.listitemsImgs {
    margin-right: 0.5rem;
}

.main {
    min-height: calc(100vh-14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 10rem;
    margin-bottom: 0;
}

.chats {
    overflow: hidden; /* to make it scrollable*/
    overflow-y: flow;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}

.chat {
    margin: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start; /* align vertically but at beginning and do not center vertically*/
    text-align: justify /* block*/
}

.chat>img{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 1rem;
}

.bot {
    background: rgba(28, 30, 58, 1);
    width: fit-content; /* just as big as the inner stuff is*/
    border-radius: 0.75rem;

}

.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inp {
    padding: 0.5rem;
    background: rgba(28, 30, 58, 1);
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    width: 68rem;
}

.inp>input {
    width: calc(100% - 3rem);
    outline: none;
    padding: 1.25rem;
    color: white;
}

.inp>input, .send {
    background: transparent;
    border: none;
}

.chatFooter>p{
    margin: 1.5rem 0rem; 
}